<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Faces game</h1>
    <p class="lead text-muted">
      Write your staff and explain

    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <table class="table" *ngIf="list">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of list" (click)="rowClicked(c)" [ngClass]="{'active':c.active}">
          <td style="cursor: pointer">{{c.name}}</td>
          <td style="cursor: pointer">{{c.lastName}}</td>
        </tr>
        </tbody>
      </table>


    </div>
    <div class="col-sm-6" *ngIf="selectedRow">
      <div class="card">
        <div class="card-header">
          Flags
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let f of selectedRow.flags">
              {{f.name}}
              <input
                type="checkbox"
                [(ngModel)]="f.value"
                [ngModelOptions]="{standalone: true}"/>
            </li>
          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          Select users
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center" *ngIf="selectedRow">
            <img [src]="item.url" (click)="addToSortedList(item)" class="rounded-circle mx-2 face-selection"
                 style="width: 75px; height: 75px" alt="..." *ngFor="let item of selectedRow.selection">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Sort users
        </div>
        <div class="card-body">
          <ul [sortablejs]="sortedList">
            <li class="mx-2" style="float: left" *ngFor="let item of sortedList; let i=index">
              <img [src]="item.url" (click)="this.sortedList.splice(i,1)" class="rounded-circle mx-2 face-selection"
                   style="width: 75px; height: 75px" alt="...">
            </li>
          </ul>

          {{sortedList|json}}
        </div>
        <div class="card-footer">
          <button class="form-control btn btn-primary" (click)="saveChanges()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
